.dashboard{
 display: flex;
 justify-content:space-evenly;
 width: 100%;
 flex-wrap: wrap;
 flex-grow: 1;
 margin-top: 2%;
 margin-bottom: 3%;
}
.dashboardMain{
    margin-top: 4%;
    margin-bottom: 5%;
}
h1{
    color: var(--primary-color);
    font-family: var(--primary-font);
    text-align: center;
    margin-top: 14px;
}
.btnss{
    display: flex;
    justify-content: space-around; 
    margin-top: 20px; /* Space between cards and button */
  }