.footer {
    margin-top: 30px;
    background-color: #2C3E50; /* Dark footer background */
    color: white;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    /* height: 250px; */
}
.footer a,.logo,p,i{
color: white;
}
i{
    transition: color 0.3s ease-in-out;
}
i:hover{
color: #f39c12;
transform: scale(1.1);
}


.upper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 15px;
    border-bottom: 1px solid #444;
    margin-bottom: 25px;
}

.upperLeft {
    width: 40%;
    margin-bottom: 30px;
    margin-top: 4%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.tagline {
    font-size: 14px;
    color: #bbb;
    margin: 5px 0;
}

.contact p {
    font-size: 14px;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    gap: 14px;
}

.icon i{
    font-size: 25px;
    cursor: pointer;
    /* color: white; */
    color: #f39c12;
    transition: color 0.3s ease-in-out;
}

.icon:hover  {
    color: #f39c12; 
}

.upperRight {
    margin-top: 4%;
    width: 55%;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

.footer-links li {
    cursor: pointer;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}

.footer-links li a:hover {
    color: #f39c12;
}

.lower {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    color: #bbb;
}
