:root {
    --primary-color: #2C3E50;
    --accent-color: #F4D03F;
    --background-color: #FAF3E0;
    --secondary-text-color: #34495E;
    --primary-text-color: #2E4053;
    --success-color: #27AE60;
    --danger-color: #E74C3C;
  
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
  }
  
  body {
    font-family: var(--secondary-font);
    background-color: var(--background-color);
    /* color: var(--primary-text-color); */
    margin: 0;
    padding: 0;
  }
  